$oswald-font: 'Oswald', sans-serif;
$quicksand-font: 'Quicksand', sans-serif;
$quattro-font: 'Quattrocento Sans', sans-serif;

$background-clr: #1B1B1B;
$primary-clr: #FFC149;
$secondary-clr: #262626;
$white-clr: #ffffff;
// $accent-clr: #D4B6CF;

$margin: 0.75rem;
$lg-margin: 1.2rem;

$padding: 0.75rem;
$lg-padding: 1.2rem;
