$oswald-font: 'Oswald', sans-serif;
$quicksand-font: 'Quicksand', sans-serif;

$background-clr: #1F363D;
$primary-clr: #FFC149;
$secondary-clr: #447C8D;
$accent-clr: #D4B6CF;

$margin: 0.75rem;
$lg-margin: 1.2rem;

$padding: 0.75rem;
$lg-padding: 1.2rem;
