@use '../abstracts/variables' as v;
@use '../base/breakpoints' as b;

.header {
  // height: 100vh;
  // height: 100svh;
  position: relative;

  &__hero-wrapper {
    padding-top: v.$lg-padding;
    padding-bottom: 5rem;
    background-color: v.$secondary-clr;
    color: v.$white-clr;
    width: 100%;
    position: relative;
    margin-bottom: v.$margin;

    @include b.md {
      padding-bottom: 3rem;
      margin-bottom: 7rem;

    }

    @include b.lg {
      padding-bottom: 10rem;
    }
  }

  @include b.lg {
    &__content-flex {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__primary {
    animation: fade-in-left 1s;
  }


  &__primary-start {
    color: v.$primary-clr;
  }

  &__content-wraper {
    position: relative;
  }

  &__secondary {
    margin-top: 1rem;
    position: relative;
    display: inline-block;
    animation: fade-in-right 1s;

    @include b.sm {
      margin-top: 2rem;
    }

    @include b.md {
      position: absolute;
      bottom: -50px;
      right: 100px;
    }

    @include b.lg {
      bottom: -90px;
      right: -150px;
    }


    &-main {
      font-weight: 400;
      letter-spacing: 5px;
    }

    &-sub {
      font-weight: 400;
      font-size: 1.2rem;
      letter-spacing: 2px;

      position: absolute;
      bottom: -25px;
      right: -30px;

      @include b.xs {
        right: -60px;
      }

      @include b.md {
        bottom: -35px;
        font-size: 1.6rem;
      }

      @include b.lg {
        font-size: 1.8rem;
      }

      @include b.xl {
        font-size: 2rem;
      }
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    margin: v.$lg-margin;

    @include b.md {
      margin-top: 5rem;
    }

    &-content {
      max-width: 300px;
      margin-block: v.$lg-margin;

      @include b.md {
        max-width: 400px;
      }

      @include b.lg {
        max-width: 100%;
      }
    }

    &-btn-wrapper {
      width: 100%;

      @include b.md {
        margin-top: 2rem;
      }
    }

    &-btn {
      width: 90%;
      max-width: 320px;
      margin: v.$margin;
      padding: v.$lg-padding;
      text-transform: uppercase;

      @include b.sm {
        width: calc(100%/2 - 2rem);
        display: inline;
      }

      @include b.md {
        &:first-of-type {
          max-width: 250px;
        }

        &:last-of-type {
          max-width: 200px;
        }
      }

      &--primary {
        background-color: v.$primary-clr;
      }

      &--secondary {
        background-color: v.$white-clr;
      }
    }
  }
}

.featured {
  margin-block: 10rem;
  position: relative;
  text-align: center;

  &::before {
    content: '';
    width: 75%;
    height: 2px;
    background-color: v.$secondary-clr;
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translate(-50%, 0);
  }

  &::after {
    content: '';
    width: 75%;
    height: 2px;
    background-color: v.$secondary-clr;
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translate(-50%, 0);
  }

  &__title {
    text-align: left;

    @include b.font-contain {
      font-size: 3.5rem;
    }

    @include b.lg {
      text-align: center;
    }
  }

  &__project-link {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: v.$white-clr;
    text-transform: uppercase;
    transition: all 200ms;
    position: relative;
    cursor: pointer;
    margin-top: 2rem;

    &::before {
      content: 'All projects showcase is currently in development, connect with me to stay up to date.';
      text-transform: none;
      position: absolute;
      width: max-content;
      top: -55px;
      left: 50%;
      background-color: rgb(v.$secondary-clr, 0.7);
      padding: v.$padding;
      border-radius: 10px;
      transform: translate(-50%, 0) scale(0);
      transition: all 200ms;
    }

    &:hover::before {
      transform: translate(-50%, 0) scale(1);
      color: v.$white-clr;
    }

    // @include b.lg{
    &:hover {
      color: rgba(v.$white-clr, 0.5);
    }

    // }
  }
}

.bio {

  margin-block: v.$lg-margin;
  margin-bottom: 4rem;
  padding: v.$lg-padding;

  background-color: v.$secondary-clr;

  &__title {
    margin-block: v.$lg-margin;
    text-align: center;

    @include b.md {
      text-align: left;
    }

    @include b.lg {
      text-align: center;
    }

    @include b.font-contain {
      font-size: 3.5rem;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include b.md {
      flex-direction: row;
      gap: 1.5rem;
      flex-wrap: wrap;
    }

    @include b.lg {
      max-width: 1008px;
      margin: 0 auto;
    }

    @include b.xl {
      max-width: 1250px;
      margin: 0 auto;
    }

    &-content-image {
      max-width: 80%;

      @include b.md {
        max-width: 40%;
      }

      @include b.lg {
        max-width: 250px;
      }

      @include b.xl {
        max-width: 320px;
      }
    }

    &-content {

      @include b.md {
        max-width: 55%;
      }

      &-span {
        display: block;
        margin-top: v.$lg-margin;

        @include b.xl {
          margin-top: v.$lg-margin + 3rem;
        }
      }
    }

    &-content-cta {
      width: 80%;
      padding: v.$lg-padding;
      margin-block: v.$lg-margin;
      text-transform: uppercase;

      @include b.md {
        order: 10;
        position: relative;
        left: -160px;
        max-width: 300px;
      }

      @include b.lg {
        left: -261px;
      }

      @include b.xl {
        left: -351px;
        max-width: 320px;
      }
    }
  }

  &-sub {
    @include b.lg {
      text-align: center;
    }

    &__title {
      margin-block: v.$lg-margin;

      &-span {
        display: block;

        @include b.md {
          display: inline;
        }
      }
    }

    &__content {
      @include b.lg {
        max-width: 75ch;
        margin: 0 auto;
        text-align: left;
      }
    }

    &__misc-wrapper {
      display: flex;
      justify-content: baseline;
      align-items: center;
      gap: 1.5rem;
      margin-block: v.$lg-margin;

      @include b.md {
        margin-block: v.$lg-margin + 1rem;

      }

      @include b.lg {
        max-width: 800px;
        margin-inline: auto;
        align-items: center;
      }

      @include b.xl {
        max-width: 1000px;
      }
    }

    &__misc-content {
      text-align: left;

      @include b.xl {
        max-width: 55ch;
      }
    }

    &__misc-image {
      max-width: calc(100%/2);

      @include b.md {
        max-width: 300px;
      }
    }

    &__misc-icon {
      max-width: 30px;
    }
  }
}

.links {
  margin-block: v.$lg-margin;
  padding: v.$lg-padding;
  background-color: v.$secondary-clr;
  height: 400px;

  &__title {
    margin: 0 auto;
    display: block;
    width: fit-content;
    position: relative;
    top: 70px;
    opacity: 0;
    transition: all 500ms ease-in;

    &.active {
      opacity: 1;
      top: 0;
    }
  }

  &>.container {
    display: grid;
    place-items: center;
    height: 100%;
  }


  @include b.xs {
    height: 500px;
  }

  @include b.sm {
    height: 550px;
  }

  @include b.md {
    height: 600px;
  }
}

.contact {
  margin-block: v.$lg-margin;
  margin-bottom: 10rem;

  & .container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include b.md{
      align-items: center;
    }
  }

  &__title {
    & span {
      display: block;
      @include b.md{
        display: inline;
      }
    }

    @include b.font-contain {
      font-size: 3.5rem;
    }
  }

  &__availablity {
    display: flex;
    margin-block: v.$lg-margin;
    align-items: center;

    &-light {
      width: 20px;
      height: 20px;
      background-color: rgb(11, 255, 7);
      border-radius: 50%;
      margin-right: v.$lg-margin;
    }
  }
}



@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}