@use '../abstracts/variables' as v;
@use '../base/breakpoints' as b;

.header {
  height: 100vh;
  height: 100svh;
  position: relative;

  &__hero-wrapper{  
    padding: v.$lg-padding;
    padding-bottom: 5rem;
    background-color: v.$secondary-clr;
    color: white;
    width: 100%;
    position: relative;
    margin-bottom: v.$margin;

    @include b.md {
      padding-bottom: 3rem;
      margin-bottom: 7rem;

    }
  
    @include b.lg {
      padding-bottom: 7rem;
    }
  }

  @include b.lg {
    &__content-flex {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__primary{
    animation: fade-in-left 1s;
  }
  

  &__primary-start{
    color: v.$primary-clr;
  }

  &__content-wraper {
    position: relative;
  }

  &__secondary {
    margin-top: 1rem;
    position: relative;
    display: inline-block;
    animation: fade-in-right 1s;

    @include b.sm {
      margin-top: 2rem;
    }

    @include b.md {
      position: absolute;
      bottom: -50px;
      right: 100px;
    }

    @include b.lg {
      bottom: -90px;
      right: -150px;
    }


    &-main {
      font-weight: 400;
      letter-spacing: 5px;
    }

    &-sub {
      font-weight: 400;
      font-size: 1.2rem;
      letter-spacing: 2px;

      position: absolute;
      bottom: -25px;
      right: -30px;

      @include b.xs {
        right: -60px;
      }

      @include b.md {
        bottom: -35px;
        font-size: 1.6rem;
      }

      @include b.lg {
        font-size: 1.8rem;
      }

      @include b.xl {
        font-size: 2rem;
      }
    }
  }

  &__cta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    margin: v.$lg-margin;
    
    @include b.md{
      margin-top: 5rem;
    }

    &-content{
      max-width: 300px;
      margin-block: v.$lg-margin;
      
      @include b.md{
        max-width: 400px;
      }

      @include b.lg{
        max-width: 100%;
      }
    }

    &-btn-wrapper{
      width: 100%;
    }

    &-btn{
      width: 100%;
      max-width: 320px;
      margin: v.$margin;
      padding: v.$lg-padding;

      @include b.sm{
        width: calc(100%/2 - 2rem);
        display: inline;
      }

      @include b.md {
        &:first-of-type{
          max-width: 250px;
        }
        &:last-of-type{
          max-width: 190px;
        }
      }

      &--primary{
        background-color: v.$primary-clr;
      }

      &--secondary{
        background-color: v.$white-clr;
      }
    }
  }
}

@keyframes fade-in-left {
  0%{
    opacity: 0;
    transform: translateX(-150px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-right {
  0%{
    opacity: 0;
    transform: translateX(150px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}