@use '../base/breakpoints' as b;
@use '../abstracts/variables' as v;

button{
  font-family: v.$quicksand-font;
  font-size: 1.6rem;
  min-width: 3rem;
  padding: 0.3em 1em;
  color: v.$background-clr;
  border: none;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  @include b.md {
    font-size: 1.8rem;
  }
  @include b.lg {
    font-size: 2rem;
  }
  &.primary-btn{
    background-color: v.$primary-clr;
  }
}