@use '../abstracts/variables' as v;
@use '../base/breakpoints' as b;


.project {
  max-width: 750px;
  margin-block: 6rem;
  position: relative;
  margin-inline: auto;
  text-align: left;


  &::after {
    content: '';
    width: 70%;
    height: 2px;
    background-color: v.$secondary-clr;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 40px);
  }

  &__title {
    text-transform: uppercase;
    margin-block: v.$margin;

    &-role {
      display: block;

      @include b.md {
        display: inline;
      }
    }
  }

  &__tech-stack {
    margin-block: v.$lg-margin + (1rem);
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    &-img-wrapper {
      position: relative;

      &:hover::before {
        transform: translate(-50%, 0) scale(1);
      }

      &::before {
        content: attr(data-tech-name);
        text-transform: uppercase;
        position: absolute;
        top: -55px;
        left: 50%;
        background-color: rgb(v.$secondary-clr, 0.7);
        padding: v.$padding;
        border-radius: 10px;
        transform: translate(-50%, 0) scale(0);
        transition: all 200ms;
      }
    }

    &-img {
      max-height: 40px;
    }
  }

  &__site-warning-wrapper {
    position: relative;
    margin-bottom: v.$lg-margin + (1rem);

    &-close {
      position: absolute;
      right: 0;
      top: 0;
      height: 30px;
      width: 30px;
      line-height: 28px;
      text-align: center;
    }
  }

  &__site-warning {
    background-color: rgb(234, 87, 54);
    padding: 1.5rem 2rem;
  }

  &__body {
    position: relative;
    height: 100%;
    height: 205px;
    transition: all 300ms;

    &.animate {
      height: 250px;

      @include b.xs {
        height: 275px;
      }

      @include b.sm {
        height: 300px;
      }

      @include b.md {
        height: 425px;
      }

      @include b.lg {
        height: 500px;
      }
    }
  }

  &__content {
    margin-block: v.$margin;

    &-btn {
      display: inline;
      background-color: rgba(255, 255, 255, 0);
      padding: 0;
      margin: 0;
      color: v.$primary-clr;
      transition: all 200ms;

      @include b.lg {
        &:hover {
          color: rgba(v.$primary-clr, 0.5);
        }
      }
    }

    &-paragraph {
      position: absolute;
      z-index: 1;
      opacity: 1;
      transition: all 300ms;
      height: 115px;

      &.animate {
        height: 165px;
        overflow-y: scroll;
        -webkit-mask: linear-gradient(transparent,
            v.$background-clr 0%,
            v.$background-clr 90%,
            transparent);
        mask: linear-gradient(transparent,
            v.$background-clr 0%,
            v.$background-clr 90%,
            transparent);
        padding-right: v.$padding;
        padding-block: v.$lg-padding (
          + 2rem
        );

      @include b.xs {
        height: 180px;
      }

      @include b.sm {
        height: 200px;
      }

      @include b.md {
        height: 345px;
      }

      @include b.lg {
        height: 400px;
      }

      & li {
        list-style: circle;
        margin-left: 50px;
        margin-block: 1rem;
      }

      & h5 {
        text-transform: uppercase;
      }
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: v.$primary-clr;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 20px;
    }
  }

  &-image {
    width: 100%;
    position: relative;
    z-index: 2;
    transition: all 400ms;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);



    @include b.md {
      height: 100%;
      max-height: 200px;
    }

    &:hover {
      @include b.lg {
        scale: 1.35;
      }

      @include b.lg {
        scale: 1.4;
      }
    }

    &.animate {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      max-height: 600px;


      &~.project__content-paragraph {
        opacity: 0;
      }
    }
  }
}

&__action-wrapper {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
  position: absolute;

  bottom: 0;
}

&__btn {
  text-align: center;
  text-decoration: none;
  color: v.$white-clr;
  
  &.view {
    background-color: v.$primary-clr;
    padding: v.$lg-padding;
    width: clamp(150px, 40%, 200px);
  }

  &-image {
    max-height: 40px;
    font-size: 35px;
  }
}
}